body {
  margin: 0;
  padding: 0;
}

#map {
  position: fixed;
  background: black;
  left: 50%;
  top: 50%;
  width: 900px;
  margin-left: -450px;
  height: 1100px;
  margin-top: -550px;
}

.tile {
  position: absolute;
  width: 98px;
  height: 98px;
  border: solid transparent 1px;
}

.tile.candy {
  background: gray;
}

.walls-1, .walls-3, .walls-5, .walls-7,
.walls-9, .walls-11, .walls-13, .walls-15 {
  border-top-color: white;
}

.walls-2, .walls-3, .walls-6, .walls-7,
.walls-10, .walls-11, .walls-14, .walls-15 {
  border-right-color: white;
}

.walls-4, .walls-5, .walls-6, .walls-7,
.walls-12, .walls-13, .walls-14, .walls-15 {
  border-bottom-color: white;
}

.walls-8, .walls-9, .walls-10, .walls-11,
.walls-12, .walls-13, .walls-14, .walls-15 {
  border-left-color: white;
}

.sprite {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 2;
}

#lucero {
  top: 900px;
  left: 400px;
  border-radius: 50px;
  background: pink;
}

.ladron {
  border-radius: 50px;
}

#ladron0 {
  background: red;
}

#ladron1 {
  background: blue;
}

#ladron2 {
  background: white;
}

#ladron3 {
  background: yellow;
}
