body {
  margin: 0;
  padding: 0;
  background: #bde2a6;
}

#map {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 280px;
  margin-left: -140px;
  height: 360px;
  margin-top: -180px;
}

.tile {
  position: absolute;
  width: 38px;
  height: 38px;
  border: solid transparent 1px;
  background: #7bc64d;
}

.tile.candy {
  background: #7bc64d url('ferrero.png') no-repeat 9px 11px;
}

.walls-1, .walls-3, .walls-5, .walls-7,
.walls-9, .walls-11, .walls-13, .walls-15 {
  border-top-color: #ffdf00;
}

.walls-2, .walls-3, .walls-6, .walls-7,
.walls-10, .walls-11, .walls-14, .walls-15 {
  border-right-color: #ffdf00;
}

.walls-4, .walls-5, .walls-6, .walls-7,
.walls-12, .walls-13, .walls-14, .walls-15 {
  border-bottom-color: #ffdf00;
}

.walls-8, .walls-9, .walls-10, .walls-11,
.walls-12, .walls-13, .walls-14, .walls-15 {
  border-left-color: #ffdf00;
}

.sprite {
  position: absolute;
  width: 40px;
  height: 40px;
  z-index: 2;
}

#lucero {
  background: url('lucero.png');
}

.ladron {
  background: url('ladron.png');
}

#erik {
  background: url('erik.png');
  display: none;
}

#corazon {
  width: 0;
  position: absolute;
  height: 0;
  display: none;
  z-index: 2;
}

#mensaje {
  color: #fff;
  font-size: 35px;
  font-family: cursive;
  display: none;
  z-index: 2;
  width: 250px;
  position: absolute;
}
