body {
  font-family: "acta-display", Georgia, Times, serif;
}

#clock {
  font-size: 100px;
  height: 120px;
  width: 500px;
  text-align: center;
  margin: 0 auto;
  color: #C62A20;
}

#map {
  width: 900px;
  height: 450px;
  background: #7185A9;
  margin: 0 auto;
  position: relative;
}

#erik {
  position: absolute;
  top: 0;
  left: 0;
}

#gaby {
  position: absolute;
  bottom: 0;
  right: 0;
}
